.*
*.o
!/.gitignore
*.core
app
/apps/test
/tests/*/*.asm
/tests/*/test-*
*.class

/apps/welcome/welcome
/apps/welcome/welcome.asm
/apps/wbat/wbat
/apps/wbat/wbat.asm
/apps/alloc/alloc
/apps/alloc/alloc.asm

/bootstrap/classes

# for now:
/tests/fail
/doc
